body{background-color: gold;
    color: lightslategray;
    text-align: center;
}
img{
    width:70%;
    height: 300px;
}
header{
    background-color:dimgray;
}
footer{
    background-color: dimgray;
}